.updatecard {
  background-color: white;
  width: 100%;
  height: 450px;
  border-radius: 5px;
  user-select: none;
}
.updatecard > h1,
.updatecard__studentquery > h1 {
  text-align: center;
  margin: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
}
.updatecard__studentquery {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid slateblue;
}
.updatecard__studentquery > .updatecard__form-group > .updatecard__button {
  height: 30px !important;
  background-color: orange !important;
}
.updatecard__studentquery > .updatecard__form-group {
  align-items: center;
}
.updatecard__studentquery > small {
  color: red;
  text-align: center !important;
  font-style: italic;
  width: 100%;
  align-self: center;
}
.updatecard__studentquery > h1 {
  text-transform: lowercase;
  text-align: inherit;
}
.updatecard__form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-top: 0.5px solid lightseagreen;
  border-bottom: 0.5px solid lightseagreen;
}
.updatecard__left,
.updatecard__right {
  flex: 0.5;
  padding: 10px;
}
.updatecard__right {
  border-left: 1px solid orange;
  display: grid;
  place-items: center;
}
.updatecard__form-group {
  display: flex;
  justify-content: space-between;
}
.updatecard__form-group > input {
  outline: none;
  padding: 10px;
  width: 250px;
  border: none;
  background-color: var(--body-color);
  caret-color: lightseagreen;
  margin: 5px 0;
  border-radius: 5px;
}
.updatecard__form-group > select {
  outline: none;
  padding: 10px;
  width: 250px;
  border: none;
  background-color: var(--body-color);
  caret-color: lightseagreen;
  margin: 5px 0;
  border-radius: 5px;
}
.updatecard__form-group:last-child {
  padding: 30px 0 0 0;
}
.updatecard__button {
  color: white !important;
  background-color: steelblue !important;
  width: 150px !important;
}
.updatecard__button:first-child {
  background-color: lightseagreen !important;
}
.updatecard__right > input {
  display: none;
}
.updatecard__avatar {
  width: 300px !important;
  height: 300px !important;
  margin-bottom: 10px !important;
}
.updatecard__profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
